.btn-bg-white, .my-link-fix a {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 0.85rem;
  font-weight: 700;
  justify-content: center;
  margin-right: 1rem;
}
.btn-bg-white:hover, .my-link-fix a:hover {
  background-color: rgb(216.75, 216.75, 216.75);
}

.btn-bg-black {
  border-radius: 50px;
  width: 50%;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.btn-gradient2, #header-contactUs-button {
  background: linear-gradient(to bottom, #004AAD, #00ACBD);
  border: none;
  color: #fff;
  border-radius: 50px;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: max-content;
  align-items: center;
  justify-content: center;
}
.btn-gradient2 img, #header-contactUs-button img {
  width: 20px !important;
}

.btn-confirm {
  background: linear-gradient(to top, #7f00ff, #00bcd4);
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  width: 300px;
}

.btn-custom {
  background-color: rgb(0, 65.3922, 156.06);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.newsletter-buttons .btn {
  margin: 0.5rem;
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.newsletter-buttons .btn-light {
  color: #000;
}
.newsletter-buttons .tab-right {
  border-radius: 0 50px 50px 0 !important;
}
.newsletter-buttons .tab-left {
  border-radius: 50px 0 0 50px !important;
}

.read-more {
  display: flex;
  align-items: center;
  background-color: rgb(0, 113.02, 204);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: fit-content;
}
.read-more img {
  width: 20px !important;
}
.read-more:hover {
  color: #fff;
  background-color: rgb(0, 86.336, 163.2);
}
.read-more svg {
  margin-left: 0.5rem;
}

.white-back-test-1 {
  background: #fff;
}

#header-contactUs-button {
  color: #fff;
}

.promo {
  padding: 0 !important;
  overflow: visible !important;
  box-sizing: inherit !important;
}
.promo .component-content {
  border-width: 0 !important;
  border-style: none !important;
  border-color: transparent !important;
}

.clean-promo-link-contact-us-header {
  color: #fff !important;
  text-decoration: none !important;
}
.clean-promo-link-contact-us-header:hover {
  color: rgb(33.915, 33.915, 33.915) !important;
}

.my-link-fix a {
  border-bottom: 0 !important;
  color: #000;
}
.my-link-fix a:hover {
  color: #000;
}

.calendar-box {
  background: linear-gradient(to bottom, #004AAD, #00ACBD);
  color: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.calendar-container {
  background: linear-gradient(to right, #007bff, #04AABD);
  color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.datepicker-inline {
  width: 100%;
}

.datepicker {
  background-color: transparent;
}
.datepicker table {
  margin: 0 auto;
}
.datepicker table tbody {
  border-top: 1px solid #fff;
}
.datepicker table tr td,
.datepicker table tr th {
  width: 50px;
  height: 50px;
  text-align: center;
}
.datepicker table tr td.day:hover, .datepicker table tr td.focused {
  background: #04AABD;
  color: #fff;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover {
  background-color: #000;
  color: #fff;
}
.datepicker table tr td.new, .datepicker table tr td.old {
  color: rgb(191.25, 191.25, 191.25);
}
.datepicker table tr td span {
  display: block;
  width: 47%;
}
.datepicker table tr td span.focused, .datepicker table tr td span:hover {
  background: rgb(2.9430051813, 125.0777202073, 139.0569948187);
  color: #fff;
}
.datepicker table tr td:first-child {
  padding-right: 16px;
  padding-left: 16px;
}
.datepicker table tr td:last-child {
  padding-right: 16px;
  padding-left: 16px;
}
.datepicker table tr th.datepicker-switch {
  width: 100%;
  height: 100%;
  text-align: center;
}
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot th:hover {
  background: rgb(2.9430051813, 125.0777202073, 139.0569948187);
}

@media (max-width: 768px) {
  .datepicker-inline {
    width: 100%;
  }
}
.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.card-header img {
  width: 73px;
  height: 73px;
}

.alert-card {
  background: #fff;
  border: 2px solid #007bff;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  min-height: 420px;
}

.alert-title {
  font-weight: bold;
}

.alert-desc {
  font-size: 0.85rem;
  color: rgb(84.915, 84.915, 84.915);
}

.text-muted {
  color: rgb(166.005, 166.005, 166.005) !important;
  font-size: 25px;
  font-weight: bold;
}

.alert-details {
  margin-top: 1rem;
}
.alert-details .col-6 {
  margin-bottom: 1rem;
}
.alert-details strong {
  display: block;
  color: #000;
}
.alert-details span {
  color: rgb(68.085, 68.085, 68.085);
  font-size: 0.9rem;
}

.alert-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-icon {
  background-color: #04AABD;
  opacity: 1;
  width: 50px;
  height: 50px;
  line-height: 44px;
  border-radius: 50%;
  text-align: center;
}
.download-icon img {
  width: 28px;
}

.download-disabled {
  background-color: rgb(223.89, 223.89, 223.89) !important;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .CardsSection .col-md-4 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.calendar-box {
  background: linear-gradient(to bottom, #034ea2, #00bcd4);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 15px;
}

.calendar-container {
  background: linear-gradient(to right, #007bff, #00c4cc);
  color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
}

.datepicker-inline {
  width: 100%;
}

.datepicker {
  background-color: transparent;
}
.datepicker table {
  margin: 0 auto;
}
.datepicker table tr td,
.datepicker table tr th {
  width: 50px;
  height: 50px;
  text-align: center;
}
.datepicker table tr td.day:hover, .datepicker table tr td.focused {
  background: #00bcd4;
  color: #fff;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover {
  background-color: #000;
  color: #fff;
}
.datepicker table tr td.new, .datepicker table tr td.old {
  color: #bfbfbf;
}
.datepicker table tr td span {
  display: block;
  width: 47%;
}
.datepicker table tr td span.focused, .datepicker table tr td span:hover {
  background: #0354a5;
  color: #fff;
}
.datepicker table tr th.datepicker-switch {
  width: 100%;
  height: 100%;
  text-align: center;
}
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot th:hover {
  background: #0354a5;
}

@media (max-width: 768px) {
  .datepicker-inline {
    width: 100%;
  }
}
.NewsImgs .item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.events-section {
  padding: 40px 0;
  background-color: rgb(238.935, 238.935, 238.935);
}
.events-section .event-box {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.events-section .event-box p {
  position: relative;
  margin-bottom: 0;
}
.events-section .event-box p::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(0, 54.675, 153);
  position: absolute;
  top: 10px;
  right: -15px;
  border-radius: 50%;
}
.events-section .event-box img {
  width: 25px;
}
.events-section .events-box {
  background: rgb(237.915, 237.915, 237.915);
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  padding: 1rem;
}
.events-section .events-box::-webkit-scrollbar {
  width: 8px;
}
.events-section .events-box::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 4px;
}

.bg-gray {
  background: rgb(214.965, 214.965, 214.965) !important;
  border-radius: 20px;
  max-height: 295px;
  overflow-y: auto;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .events-section .col-md-4,
  .events-section .col-md-8 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.carousel-content {
  padding: 2.5rem;
}
.carousel-content h2 {
  font-size: 2rem;
}
.carousel-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .carousel-content {
    padding: 1.5rem;
  }
}
.hero-section {
  background: url(../images/banner.png), linear-gradient(#000, #000);
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 2rem 0;
    text-align: center;
  }
}
.form-box {
  background-color: rgba(255, 255, 255, 0.19);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  text-align: center;
  position: relative;
  z-index: 1000;
}
.form-box p {
  font-size: 0.85rem;
}

.form-control {
  background-color: rgba(33.915, 33.915, 33.915, 0.3);
  border: 1px solid rgb(150.96, 150.96, 150.96);
  color: #fff;
  width: 47%;
  display: inline-block;
  border-radius: 50px;
  font-size: 0.85rem;
  text-align: right;
  position: relative;
  z-index: 1000;
}
.form-control::placeholder {
  color: rgb(170.085, 170.085, 170.085);
}

.nav-tabs {
  gap: 0.5rem;
  border: none;
  position: relative;
  z-index: 1000;
}
.nav-tabs .nav-link {
  background-color: #333333;
  color: #fff;
  width: 100%;
  border: 1px solid;
}
.nav-tabs .nav-item {
  width: 47%;
}
.nav-tabs .tab-right {
  border-radius: 0 50px 50px 0 !important;
}
.nav-tabs .tab-left {
  border-radius: 50px 0 0 50px !important;
}
.nav-tabs .nav-link.active {
  background: linear-gradient(to bottom, #8f00ff, #00E5FF);
  color: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  opacity: 0.5;
  padding: 0 1.5rem;
}
.icon.borderLeft {
  border-left: 1px solid rgb(27.03, 163.96845, 255);
}
.icon img {
  width: 24px;
}

.massage-section {
  background-color: rgb(238.935, 238.935, 238.935);
}
.massage-section .title2 {
  color: #004AAD;
  font-weight: bold;
}

.navbar {
  background-color: #000;
  position: relative;
  z-index: 1030;
}
.navbar .navbar-nav .nav-link {
  color: #fff !important;
  margin: 0 0.5rem;
}
.navbar .navbar-nav .nav-item.active {
  border-top: 2px solid #00E5FF;
}
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #00E5FF !important;
  margin: 0 0.5rem;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #00E5FF !important;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: rgb(20.4, 20.4, 20.4);
  border: none;
  z-index: 1000;
}
.navbar .navbar-nav .dropdown-item {
  color: #fff;
}
.navbar .navbar-nav .dropdown-item:hover {
  background-color: #333333;
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 29px !important;
  }
}
.news-title {
  font-weight: 700;
  font-size: 1.1rem;
  color: rgb(110.925, 110.925, 110.925);
}

.color-cyan {
  color: #04AABD;
}

.news-date {
  color: #04AABD;
  font-size: 0.85rem;
}

.news-box {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #04AABD;
}
.news-box img {
  object-fit: cover;
  max-height: 180px;
}

.news-subtitle {
  font-size: 0.9rem;
  color: rgb(84.915, 84.915, 84.915);
}

.newsletter-section {
  background: url(../images/footer.png) no-repeat center center rgb(0, 54.675, 153);
  background-size: cover;
  position: relative;
  padding: 2.5rem 1rem 0;
}
.newsletter-section .social-icons i {
  font-size: 1.25rem;
  margin: 0 0.5rem;
  color: #fff;
  transition: 0.3s;
}
.newsletter-section .social-icons i:hover {
  color: #cccccc;
}

.newsletter-content {
  text-align: center;
  padding-bottom: 2.5rem;
}
.newsletter-content h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}
.footer-links ul li {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}
.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer-input {
  margin-top: 1rem;
}
.footer-input input {
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  outline: none;
  background-color: rgba(33.915, 33.915, 33.915, 0.3);
  color: #fff;
}

.social-icons i {
  font-size: 1.5rem;
  color: #666666;
  margin: 0 0.5rem;
}
.social-icons i:hover {
  background: linear-gradient(to bottom, #a20afa, #1d8ec7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.social-icons .active {
  color: rgb(92.39925, 124.0613025, 218.70075);
}

.social-post {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.social-post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.social-caption {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 0.85rem;
  color: rgb(110.925, 110.925, 110.925);
}

.social-meta {
  display: flex;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: rgb(84.915, 84.915, 84.915);
  align-items: center;
  text-align: right;
}
.social-meta h6 {
  color: #04AABD;
  margin: 0;
}
.social-meta .sub {
  margin-right: 0.5rem;
}
.social-meta i {
  color: rgb(92.39925, 124.0613025, 218.70075);
  font-size: 1.5rem;
}

@media (max-width: 576px) {
  .social-icons i {
    font-size: 1.25rem;
    margin: 0 0.5rem;
  }
}
.survey-section {
  background-color: rgb(0, 51.23255, 138.21);
  color: #fff;
  padding: 2rem 1rem;
}

.survey-question {
  margin-bottom: 2rem;
}

.progress {
  height: 20px;
  background-color: rgb(237.915, 237.915, 237.915);
  margin-bottom: 0.5rem;
  border-radius: 50px;
}

.progress-bar {
  font-weight: 700;
}

.option-container {
  display: inline-block;
  width: 30%;
  margin-inline-end: 1.5%;
  vertical-align: top;
  text-align: right;
}

.w-60 {
  width: 60%;
}

@media (max-width: 768px) {
  .survey-question .d-flex {
    flex-direction: column;
  }
  .w-60 {
    width: 100%;
  }
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  height: auto !important;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
  overflow: auto;
  font-size: 1rem;
  line-height: 1.5;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: auto !important;
}
body.on-page-editor {
  background: #fff !important;
}

a {
  color: #fff;
  cursor: pointer;
  font-size: 0.85rem;
}
a:hover {
  color: #007bff;
}

h1,
h2,
h3,
h4,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  user-select: none;
  pointer-events: none;
}

#breadcrumbMenuSubcontrol_context_menu * {
  box-sizing: initial;
}

#sxa-toolbox {
  direction: ltr;
}

#header {
  padding: 8px 0;
  background-color: #000;
  font-size: 16px;
}

.section-title {
  text-align: right;
  margin-bottom: 2rem;
}
.section-title h5 {
  color: #999999;
}
.section-title h3 {
  font-weight: 700;
  color: #04AABD;
}

.white {
  color: #fff !important;
}

.black-background {
  background-color: #000;
}

/*# sourceMappingURL=styles.css.map */
