// We get our color function and global variables from these imports
@use "sass:color";
@use 'variables' as *;

// This line will import all the components in components/_index.scss
@forward 'components/';

html {
  // font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px;
  height: auto !important;

  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  // we are directly adding the dir=auto in html tag so no need for below option
  // direction: rtl;
}

body {
  // @include opensans-font-stack();
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  position: relative;
  overflow: auto;

  font-size: 16px;
  line-height: 1.5;

  background: $color-white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: auto !important;
  &.on-page-editor {
    background: $color-white !important;
  }
}

a {
  color: $color-white;
  cursor: pointer;
  font-size: 0.85em;
  &:hover {
    color: $color-primary;
  }
}

h1,
h2,
h3,
h4,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}


.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  user-select: none;
  pointer-events: none;
}

//Navigation Bar fix
#breadcrumbMenuSubcontrol_context_menu * {
  box-sizing: initial;
}

//End navigation bar fix

#header {
  padding: 8px 0;
  background-color: $color-black;
  font-size: 16px;
}


// Global styles for our custom ncsc theme

.section-title {
  text-align: right;
  margin-bottom: 2rem;

  h5 {
    color: #999;
  }

  h3 {
    font-weight: bold;
    color: $color-accent-blue;
  }
}



.white {
  color: $color-white !important;
}

.black-background {
  background-color: $color-black;
}

