// We get our color function and global variables from these imports
@use "sass:color";
@use 'variables' as *;

// This line will import all the components in components/_index.scss
@forward 'components/';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  height: auto !important;
  font-family: $font-family-primary;
  font-optical-sizing: auto;
  font-weight: $font-weight-normal;
  font-style: normal;
}

body {
  font-family: $font-family-primary;
  font-optical-sizing: auto;
  font-weight: $font-weight-normal;
  font-style: normal;
  position: relative;
  overflow: auto;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background: $color-white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: auto !important;
  
  &.on-page-editor {
    background: $color-white !important;
  }
}

a {
  color: $color-white;
  cursor: pointer;
  font-size: $font-size-xs;
  &:hover {
    color: $color-primary;
  }
}

h1,
h2,
h3,
h4,
h6 {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $font-size-3xl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

h5 {
  font-size: $font-size-lg;
}

h6 {
  font-size: $font-size-base;
}


.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  user-select: none;
  pointer-events: none;
}

//Navigation Bar fix
#breadcrumbMenuSubcontrol_context_menu * {
  box-sizing: initial;
}

//End navigation bar fix

//Tool Box Direction Fix
#sxa-toolbox{
  direction: ltr;
}
//End Tool Box Direction Fix


#header {
  padding: 8px 0;
  background-color: $color-black;
  font-size: 16px;
}


// Global styles for our custom ncsc theme

.section-title {
  text-align: right;
  margin-bottom: $spacing-lg;

  h5 {
    color: darken($color-white, 40%);
  }

  h3 {
    font-weight: $font-weight-bold;
    color: $color-accent-blue;
  }
}



.white {
  color: $color-white !important;
}

.black-background {
  background-color: $color-black;
}

