@use '../variables' as *;

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  img {
    width: 73px;
  }
}

// colored rectangle border around cards
.alert-card {
  background: $color-white;
  border: 2px solid $color-primary;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  min-height: 420px;
}

.alert-title {
  font-weight: bold;
}

.alert-desc {
  font-size: 0.85rem;
  color: darken($color-white, 66.7%); // Changed from color.scale
}

.text-muted {
  color:  darken($color-white, 34.9%) !important; // Changed from color.scale
  font-size: 25px;
  font-weight: bold;
}


.alert-details {
  margin-top: 1rem;

  .col-6 {
    margin-bottom: 1rem;
  }

  strong {
    display: block;
    color: $color-black;
  }

  span {
    color: darken($color-white, 73.3%); // Changed from color.scale
    font-size: 0.9rem;
  }
}


.alert-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.download-icon {
  background-color: $color-accent-blue;
  opacity: 1;
  width: 50px;
  height: 50px;
  line-height: 44px;
  border-radius: 50%;
  text-align: center;

  img {
    width: 28px;
  }
}


.download-disabled {
  background-color: darken($color-white, 12.2%) !important; // Changed from color.scale
  pointer-events: none;
}


@media (max-width: 1000px) {
  .CardsSection .col-md-4{
    flex: 0 0 auto;
    width: 100%;
  }
}


// .alert-icon {
//   position: absolute;
//   top: -12px;
//   right: -12px;
//   width: 50px;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 24px;
//   color: $color-white;
// }

// .icon-blue {
//   background-color: $color-primary;
// }

// .icon-red {
//   background-color: $color-error;
// }

// .icon-yellow {
//   background-color: $color-warning;
//   color: $color-black;
// }