// Remove this line for older Sass compatibility:
// @use "sass:color";
@use '../variables' as *; // Changed from @use '../variables' as *;

.form-box {
  background-color: rgba($color-white, 0.19);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  text-align: center;

  p {
    font-size: 14px;
  }
}

.form-control {
  background-color: rgba($base-dark-gray, 0.3);
  border: 1px solid darken($color-white, 40.8%); // Changed from color.scale
  color: $color-white;
  width: 47%;
  display: inline-block;
  border-radius: 50px;
  font-size: 13px;
  text-align: right;

  &::placeholder {
    color: darken($color-white, 33.3%); // Changed from color.scale
  }
}

.nav-tabs {

    gap: 4px;
    border: none;

    .nav-link {
        background-color: lighten($color-black, 20%); // Changed from color.scale
        color: $color-white;
        width: 100%;
        border: 1px solid;
    }

    .nav-item {
        width: 47%;
    }

    .tab-right {
        border-radius: 0px 100px 100px 0px !important;
    }

    .tab-left {
        border-radius: 100px 0px 0px 100px !important;
    }

    .nav-link.active {
        background: linear-gradient(to bottom, $color-accent-purple, $color-secondary);
        color: $color-white;
    }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin-bottom: 16px;
}

.icon {
  opacity: 0.5;
  padding: 0px 26px;

  &.borderLeft {
    border-left: 1px solid lighten(adjust-hue($color-primary, -7.1deg), 5.3%); // Changed from color.adjust
  }

  img {
    width: 24px;
  }
}