@use '../variables' as *;

.carousel-content {
  padding: $spacing-xl;

  h2 {
    font-size: $font-size-3xl;
  }

  p {
    font-size: $font-size-md;
    margin-bottom: $spacing-md;
  }
}

// Media Queries
@media (max-width: $breakpoint-md) {
  .carousel-content {
    padding: $spacing-md;
  }
}