@use '../variables' as *;

.massage-section {
  background-color: darken($color-white, 6.3%); // Changed from color.scale

  .title2 {
    color: $color-accent-blue-gradient-start;
    font-weight: bold;
  }
}