@use "sass:color";
@use '../variables' as *;

// Navbar
.navbar {
  background-color: $color-black;

  .navbar-nav {
    .nav-link {
      color: $color-white !important;
      margin: 0 10px;
    }

    .nav-item.active {
      border-top: 2px solid $color-secondary;

      .nav-link {
        color: $color-secondary !important;
        margin: 0 10px;
      }
    }

    .nav-item .nav-link:hover {
      color: $color-secondary !important;
    }

    .dropdown-menu {
      background-color: color.scale($color-black, $lightness: 8%);
      border: none;
    }

    .dropdown-item {
      color: $color-white;

      &:hover {
        background-color: color.scale($color-black, $lightness: 20%);
      }
    }
  }
}

@media (max-width: 767px) {
    
  .navbar-brand img {
    height: 29px !important;
  }
}