@use '../variables' as *; 

.navbar {
  background-color: $color-black;
  position: relative;
  z-index: $z-index-fixed;

  .navbar-nav {
    .nav-link {
      color: $navbar-link-color !important;
      margin: 0 $spacing-xs;
    }

    .nav-item.active {
      border-top: 2px solid $color-secondary;

      .nav-link {
        color: $color-secondary !important;
        margin: 0 $spacing-xs;
      }
    }

    .nav-item .nav-link:hover {
      color: $color-secondary !important;
    }

    .dropdown-menu {
      background-color: lighten($color-black, 8%);
      border: none;
      z-index: $z-index-dropdown;
    }

    .dropdown-item {
      color: $color-white;

      &:hover {
        background-color: lighten($color-black, 20%);
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .navbar-brand img {
    height: 29px !important;
  }
}