// Remove this line for older Sass compatibility:
// @use "sass:color";
@use '../variables' as *; // Changed from @use '../variables' as *;

// Navbar
.navbar {
  background-color: $color-black;

  .navbar-nav {
    .nav-link {
      color: $color-white !important;
      margin: 0 10px;
    }

    .nav-item.active {
      border-top: 2px solid $color-secondary;

      .nav-link {
        color: $color-secondary !important;
        margin: 0 10px;
      }
    }

    .nav-item .nav-link:hover {
      color: $color-secondary !important;
    }

    .dropdown-menu {
      background-color: lighten($color-black, 8%); // Changed from color.scale
      border: none;
      
    }

    .dropdown-item {
      color: $color-white;

      &:hover {
        background-color: lighten($color-black, 20%); // Changed from color.scale
      }
    }
  }
}

@media (max-width: 767px) {

  .navbar-brand img {
    height: 29px !important;
  }
}