@use '../variables' as *; 

.newsletter-section {
  background: url(../images/footer.png) no-repeat center center darken(adjust-hue($color-primary, 7.5deg), 20%);
  background-size: cover;
  position: relative;
  padding: $spacing-xl $spacing-sm 0;

  .social-icons i {
    font-size: $font-size-lg;
    margin: 0 $spacing-xs;
    color: $color-white;
    transition: 0.3s;

    &:hover {
      color: darken($color-white, 20%);
    }
  }
}

.newsletter-content {
  text-align: center;
  padding-bottom: $spacing-xl;

  h2 {
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sm;
  }
}

.footer-links {
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: $spacing-xs;
      font-size: $font-size-xs;

      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}

.footer-bottom {
  text-align: center;
  font-size: $font-size-xs;
  margin-top: $spacing-lg;
  padding-bottom: $spacing-md;
}

.footer-input {
  margin-top: $spacing-sm;

  input {
    border-radius: $border-radius-lg;
    padding: $spacing-xs $spacing-sm;
    border: 1px solid $color-white;
    outline: none;
    background-color: rgba(lighten($color-black, 13.3%), 0.3);
    color: $color-white;
  }
}
