@use '../variables' as *; 

.news-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  color: darken($color-white, 56.5%);
}

.color-cyan {
  color: $color-accent-blue;
}

.news-date {
  color: $color-accent-blue;
  font-size: $font-size-xs;
}

.news-box {
  background-color: $color-white;
  padding: $spacing-sm;
  margin-bottom: $spacing-md;
  border-bottom: 1px solid $color-accent-blue;

  img {
    object-fit: cover;
    max-height: 180px;
  }
}

.news-subtitle {
  font-size: $font-size-sm;
  color: darken($color-white, 66.7%);
}